body
{
	background-color: #f4f4f4;
}

.form__label {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
	transform: translateY(0rem);
  }
  
.form__input {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 1.2rem;
	  margin: 0 auto;
	padding: 1.5rem 2rem;
	border-radius: 0.2rem;
	background-color: rgb(255, 255, 255);
	border: none;
	width: 90%;
	display: block;
	border-bottom: 0.3rem solid transparent;
	transition: all 0.3s;
  }
  
.form__input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-4rem);
	transform: translateY(-4rem);
  }
  
/* div#BasicInormation*/
div#BasicInormation{

}
/* stockInfo css here*/
#stockInfo{
	

}

.g-container {
	width: 240px;
	height: 25px;
	border-radius: 25px;
	background: #eee;
}
@property --progress {
syntax: '<percentage>';
inherits: false;
initial-value: 0%;
}

.g-progress {
	margin: auto;
	width: 240px;
	height: 25px;
	border-radius: 25px;
	background: linear-gradient(90deg,#0ff , #0f0 var(--progress), transparent 0);
	border: 1px solid #eee;
	transition: .3s --progress;
}
