body
{
	background-color: #f4f4f4;
}

.form__label {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
	transform: translateY(0rem);
  }
  
.form__input {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 1.2rem;
	  margin: 0 auto;
	padding: 1.5rem 2rem;
	border-radius: 0.2rem;
	background-color: rgb(255, 255, 255);
	border: none;
	width: 90%;
	display: block;
	border-bottom: 0.3rem solid transparent;
	transition: all 0.3s;
  }
  
.form__input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-4rem);
	transform: translateY(-4rem);
  }

.g-container {
	width: 240px;
	height: 25px;
	border-radius: 25px;
	background: #eee;
}
@property --progress {
syntax: '<percentage>';
inherits: false;
initial-value: 0%;
}

.g-progress {
	margin: auto;
	width: 240px;
	height: 25px;
	border-radius: 25px;
	background: linear-gradient(90deg,#0ff , #0f0 var(--progress), transparent 0);
	border: 1px solid #eee;
	transition: .3s --progress;
}
/* your code start here */



/*div#summation{
	margin:0px auto;
}*/
.left {
	width:400px;
	line-height:50px;
	padding:20px;
	
	margin-right:10px;
	float:left;
}
.right {
	width:600px;
	line-height:50px;
	padding:20px;
	
	float:left;
}

.button {
	border-radius: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* your code finish here */